footer {
  width: 100%;
  height: auto;
  position: relative;
  background: #111118;
  padding: 70px 0 50px 0;
  z-index: 1;
}
footer .logo {
  width: 200px;
  float: left;
}
footer .logo-top {
  margin: 0 auto 15px auto;
  width: 135px;
  height: 95px;
  background: url("../img/Logo_For_Home_Page2.svg") no-repeat;
  -webkit-background-size: 100% 100%;
          background-size: 100%;
}
footer .logo-bottom {
  margin: 0 auto;
  width: 106px;
  height: 37px;
  background: url("../img/SK_WHITE_MOBILE_LOGO.svg") no-repeat;
  -webkit-background-size: 100% 100%;
          background-size: 100%;
}
footer .section {
  display: inline-block;
  text-align: left;
  width: 33%;
  vertical-align: bottom;
}
footer .section a {
  color: #fff;
  font-size: 14px;
  padding-top: 7px;
  padding-bottom: 7px;
  display: block;
  text-decoration: none;
}
footer .section .phone {
  color: #fff;
  font-size: 24px;
  padding-bottom: 20px;
  display: block;
}
.footer-apps {
  margin-top: 70px;
  border-top: 1px solid #4a4a4f;
  border-bottom: 1px solid #4a4a4f;
  padding: 40px 0 20px 0;
  text-align: center;
  margin-bottom: 20px;
}
.footer-apps .app-store,
.footer-apps .google-play {
  display: inline-block;
  width: 135px;
  height: 40px;
  margin: 0 15px 25px;
  background: url(../img/appstore-badge.svg) no-repeat;
}
.footer-apps .google-play {
  background: -10px -10px url(../img/google-play-badge.png) no-repeat;
  -webkit-background-size: 155px 60px;
          background-size: 155px 60px;
}
.footer-bottom a {
  vertical-align: top;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 12px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  display: block;
  height: 24px;
  line-height: 24px;
}
@media only screen and (min-width: 100px) and (max-width: 1023px) {
  footer {
    padding: 20px 0 20px 0;
  }
  footer .section {
    display: block;
    text-align: center;
    width: 100%;
    padding: 30px 0 0 0;
  }
  .footer-apps {
    margin-top: 20px;
    padding: 30px 0 10px 0;
  }
}
