.wrapper {
  width: 90%;
  position: relative;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
/*.inner-wrapper {
  width: 100%;
  max-width: 505px;
}*/
.page-container {
  background: #fff;
  width: 100%;
  position: relative;
  height: auto;
}
