.text-carousel {
  z-index: 2;
  position: relative;
  padding: 10px 0 100px 0;
}
.text-carousel__article {
  color: #fff;
  width: 90%;
  margin: 0 2%;
}
.text-carousel__article strong {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.789;
}
.text-carousel__article p {
  font-size: 15px;
  line-height: 1.563;
}
.text-carousel .owl-nav {
  display: none;
}
.text-carousel .owl-dots {
  padding-top: 15px;
}
.text-carousel .owl-dots .owl-dot {
  width: 6px;
  height: 6px;
  border: 1px solid #fff;
  display: inline-block;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  margin: 0 20px 0 0;
}
.text-carousel .owl-dots .active {
  background: #fff;
}
@media only screen and (min-width: 100px) and (max-width: 1023px) {
  .text-carousel {
    padding: 30px 0 40px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
  }
  .text-carousel__article {
    margin: 0;
  }
  .text-carousel__article strong {
    font-size: 17px;
    line-height: 1.289;
  }
}
